Language: Cpp
BasedOnStyle: LLVM
SortIncludes: true
BreakBeforeBraces: Attach
AlignEscapedNewlines: Left
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Never
EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false
AccessModifierOffset: -4
FixNamespaceComments: false
NamespaceIndentation: All
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
UseTab: Never